
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-583139185578214040.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-583139185578214040.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-583139185578214040.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-583139185578214040.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-583139185578214040.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-583139185578214040.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-583139185578214040.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-583139185578214040.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-583139185578214040.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-583139185578214040.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-583139185578214040.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-583139185578214040.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-583139185578214040.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-583139185578214040.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-583139185578214040.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-583139185578214040.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-583139185578214040.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-583139185578214040.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-583139185578214040.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-583139185578214040.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-583139185578214040.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-583139185578214040.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-583139185578214040.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-583139185578214040.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-583139185578214040.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-583139185578214040.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-583139185578214040.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-583139185578214040.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-583139185578214040.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-583139185578214040.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-583139185578214040.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-583139185578214040.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-583139185578214040.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-583139185578214040.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-583139185578214040.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-583139185578214040.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-583139185578214040.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-583139185578214040.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-583139185578214040.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-583139185578214040.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-583139185578214040.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-583139185578214040.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-583139185578214040.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-583139185578214040.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-583139185578214040.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-583139185578214040.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-583139185578214040.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-583139185578214040.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-583139185578214040.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-583139185578214040.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-583139185578214040.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-583139185578214040.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-583139185578214040.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-583139185578214040.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-583139185578214040.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-583139185578214040.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-583139185578214040.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-583139185578214040.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-583139185578214040.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-583139185578214040.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-583139185578214040.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-583139185578214040.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-583139185578214040.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-583139185578214040.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-583139185578214040.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-583139185578214040.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-583139185578214040.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-583139185578214040.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-583139185578214040.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-583139185578214040.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-583139185578214040.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-583139185578214040.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-583139185578214040.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-583139185578214040.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-583139185578214040.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-583139185578214040.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-583139185578214040.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-583139185578214040.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-583139185578214040.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-583139185578214040.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-583139185578214040.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-583139185578214040.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-583139185578214040.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-583139185578214040.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-583139185578214040.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-583139185578214040.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-583139185578214040.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-583139185578214040.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-583139185578214040.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-583139185578214040.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-583139185578214040.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-583139185578214040.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-583139185578214040.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-583139185578214040.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-583139185578214040.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-583139185578214040.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-583139185578214040.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-583139185578214040.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-583139185578214040 .gp-pointer-events-none{pointer-events:none}.gps-583139185578214040 .gp-absolute{position:absolute}.gps-583139185578214040 .gp-relative{position:relative}.gps-583139185578214040 .gp-inset-0{inset:0}.gps-583139185578214040 .gp-z-1{z-index:1}.gps-583139185578214040 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-583139185578214040 .gp-mb-0{margin-bottom:0}.gps-583139185578214040 .gp-flex{display:flex}.gps-583139185578214040 .gp-grid{display:grid}.gps-583139185578214040 .\!gp-hidden{display:none!important}.gps-583139185578214040 .gp-hidden{display:none}.gps-583139185578214040 .gp-w-max{width:-moz-max-content;width:max-content}.gps-583139185578214040 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-583139185578214040 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-583139185578214040 .gp-max-w-full{max-width:100%}.gps-583139185578214040 .gp-flex-1{flex:1 1 0%}.gps-583139185578214040 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-583139185578214040 .gp-flex-col{flex-direction:column}.gps-583139185578214040 .gp-flex-wrap{flex-wrap:wrap}.gps-583139185578214040 .gp-text-center{text-align:center}.gps-583139185578214040 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-583139185578214040 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-583139185578214040 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583139185578214040 .gp-duration-200{transition-duration:.2s}.gps-583139185578214040 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-583139185578214040 .tablet\:\!gp-hidden{display:none!important}.gps-583139185578214040 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-583139185578214040 .mobile\:\!gp-hidden{display:none!important}.gps-583139185578214040 .mobile\:gp-hidden{display:none}}.gps-583139185578214040 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--pos:sticky;--top:0px;--z:99999;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#D19FA0","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":"","preload":false},"mobile":{"attachment":"scroll","color":"#D19FA0","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":"","preload":false}},"uid":"gXsQhw5dj-"}' data-id="gXsQhw5dj-" id="gXsQhw5dj-" data-same-height-subgrid-container class="gXsQhw5dj- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--pt:16px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:auto;--pt-mobile:12px;--pl-mobile:0px;--pb-mobile:0px;--ml-tablet:auto;--pt-tablet:24px;--pl-tablet:0px;--pb-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#D19FA0;--bgc-mobile:#D19FA0;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gi43_mw64t gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gelBWzvM7m"}' data-id="gelBWzvM7m" id="gelBWzvM7m" data-same-height-subgrid-container class="gelBWzvM7m gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:12px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gtOIglFm3h gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gpUeJNLCfr"}' data-id="gpUeJNLCfr" id="gpUeJNLCfr" data-same-height-subgrid-container class="gpUeJNLCfr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--pl:32px;--pr:32px;--ml-mobile:auto;--mr-mobile:auto;--pl-mobile:20px;--pr-mobile:20px;--ml-tablet:auto;--mr-tablet:auto;--pl-tablet:48px;--pr-tablet:48px;--cg:8px;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gJTVS7Je7i gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gn3LfCLq9h"}' data-id="gn3LfCLq9h" id="gn3LfCLq9h" data-same-height-subgrid-container class="gn3LfCLq9h gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:0px;--mt-mobile:0px;--mb-mobile:14px;--pb-mobile:0px;--cg:8px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g84uuitf6b gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goa1VqKFvx"
        class="goa1VqKFvx"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172147045"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:21px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoa1VqKFvx_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g4kZhwfrqv gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px" class="g6d2-17xIv ">
      
    {%- liquid
      assign standardEndDate = 1747724302972
      assign typeCountdown = "daily"
      assign autoHideWhenTimeout = false
      assign current_time = 'now' | date: '%s' | times: 1000

    -%}
   {% if standardEndDate == nil or current_time <= standardEndDate or typeCountdown != "standard" or autoHideWhenTimeout != true %}
      <gp-countdown-timer
        data-id="g6d2-17xIv"
        gp-href="#"
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"daily","dateStandard":1747709902972,"dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"HRS","loopAfterFinish":true,"minuteLabel":"MIN","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"SEC","timeZone":"UTC-4","timerDaily":{"format":"am","hours":2,"mins":30},"timerEverygreen":{"days":0,"endTime":1747115902972,"hours":3,"mins":0,"startTime":1747105102972},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"g6d2-17xIv","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"1px 1px 1px 1px"}}},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"edited":["mobile"],"desktop":{"margin":{"bottom":0}},"mobile":{"link":false,"padding":{"top":"0px","left":"0px","bottom":"0px","right":"0px"}}}},"label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":1747709902972,"dayLabel":"Days","enableDay":false,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"HRS","loopAfterFinish":true,"minuteLabel":"MIN","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"SEC","timeZone":"UTC-4","timerDaily":{"format":"am","hours":2,"mins":30},"timerEverygreen":{"days":0,"endTime":1747115902972,"hours":3,"mins":0,"startTime":1747105102972},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#FFFFFF","borderState":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"8px","itemPadding":{"desktop":{"bottom":"4px","left":"10px","right":"10px","top":"4px"},"mobile":{"bottom":"4px","left":"8px","right":"8px","top":"4px"}},"labelTypo":{"attrs":{"color":"#999999"},"custom":{"fontSize":{"desktop":"11px","mobile":"12px","tablet":"11px"},"fontStyle":"normal","fontWeight":"600","hasShadowText":false,"letterSpacing":"normal","lineHeight":{"desktop":"100%","mobile":"130%","tablet":"150%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-2"},"numTypo":{"attrs":{"bold":true,"color":"#242424"},"custom":{"fontSize":{"desktop":"14px","mobile":"14px","tablet":"16px"},"fontStyle":"normal","fontWeight":"600","hasShadowText":false,"letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"150%","tablet":"150%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"subheading-2"},"roundedState":{"normal":{"bblr":"3px","bbrr":"3px","btlr":"3px","btrr":"3px","radiusType":"custom"}},"textAlign":{"desktop":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"g6d2-17xIv","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:8px;--jc:center">
          <a
              href="#"
              target="_self"
              aria-label="Countdown link"
              class="gp-absolute gp-inset-0 gp-z-1 gp-pointer-events-none"
            > </a>
          
          
          
    <div style="--pl:10px;--pr:10px;--pt:4px;--pb:4px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6d2-17xIv-text" id="hour"
        class="g6d2-17xIv"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172147048"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6d2-17xIv-text"
        class="g6d2-17xIv"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172147049"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:11px;--size-tablet:11px;--size-mobile:12px;--lh:100%;--lh-tablet:150%;--lh-mobile:130%;--c:#999999;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6d2-17xIv_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:10px;--pr:10px;--pt:4px;--pb:4px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6d2-17xIv-text" id="minute"
        class="g6d2-17xIv"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172147049"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6d2-17xIv-text"
        class="g6d2-17xIv"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172147049"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:11px;--size-tablet:11px;--size-mobile:12px;--lh:100%;--lh-tablet:150%;--lh-mobile:130%;--c:#999999;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6d2-17xIv_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:10px;--pr:10px;--pt:4px;--pb:4px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:4px;--pb-mobile:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6d2-17xIv-text" id="second"
        class="g6d2-17xIv"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172147050"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6d2-17xIv-text"
        class="g6d2-17xIv"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172147050"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:11px;--size-tablet:11px;--size-mobile:12px;--lh:100%;--lh-tablet:150%;--lh-mobile:130%;--c:#999999;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6d2-17xIv_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gaUl0qH9lC gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKM60hWpV_"
        class="gKM60hWpV_"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172147052"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:right;--ta-tablet:right;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgc-mobile:#D19FA0;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKM60hWpV__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-583139185578214040 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ygyz11-bg/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=583139169220428440&sectionId=583139185578214040)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggoa1VqKFvx_text","label":"ggoa1VqKFvx_text","default":"<p>VEINA</p>"},{"type":"html","id":"gg6d2-17xIv_dayLabel","label":"gg6d2-17xIv_dayLabel","default":"Days"},{"type":"html","id":"gg6d2-17xIv_hourLabel","label":"gg6d2-17xIv_hourLabel","default":"HRS"},{"type":"html","id":"gg6d2-17xIv_minuteLabel","label":"gg6d2-17xIv_minuteLabel","default":"MIN"},{"type":"html","id":"gg6d2-17xIv_secondLabel","label":"gg6d2-17xIv_secondLabel","default":"SEC"},{"type":"html","id":"gg6d2-17xIv_weekLabel","label":"gg6d2-17xIv_weekLabel","default":"Weeks"},{"type":"html","id":"ggKM60hWpV__text","label":"ggKM60hWpV__text","default":"<p>PROMOTION RENTRÉE 30%&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  