
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-583139185745986521.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-583139185745986521.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-583139185745986521.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-583139185745986521.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-583139185745986521.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-583139185745986521.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-583139185745986521.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-583139185745986521.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-583139185745986521.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-583139185745986521.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-583139185745986521.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-583139185745986521.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-583139185745986521.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-583139185745986521.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-583139185745986521.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-583139185745986521.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-583139185745986521.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-583139185745986521.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-583139185745986521.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-583139185745986521.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-583139185745986521.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-583139185745986521.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-583139185745986521.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-583139185745986521.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-583139185745986521.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-583139185745986521.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-583139185745986521.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-583139185745986521.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-583139185745986521.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-583139185745986521.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-583139185745986521.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-583139185745986521.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-583139185745986521.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-583139185745986521.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-583139185745986521.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-583139185745986521.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-583139185745986521.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-583139185745986521.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-583139185745986521.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-583139185745986521.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-583139185745986521.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-583139185745986521.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-583139185745986521.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-583139185745986521.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-583139185745986521.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-583139185745986521.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-583139185745986521.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-583139185745986521.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-583139185745986521.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-583139185745986521.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-583139185745986521.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-583139185745986521.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-583139185745986521.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-583139185745986521.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-583139185745986521.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-583139185745986521.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-583139185745986521.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-583139185745986521.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-583139185745986521.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-583139185745986521.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-583139185745986521.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-583139185745986521.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-583139185745986521.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-583139185745986521.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-583139185745986521.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-583139185745986521.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-583139185745986521.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-583139185745986521.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-583139185745986521.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-583139185745986521.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-583139185745986521.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-583139185745986521.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-583139185745986521.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-583139185745986521.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-583139185745986521 .gp-relative{position:relative}.gps-583139185745986521 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-583139185745986521 .gp-mb-0{margin-bottom:0}.gps-583139185745986521 .gp-inline-block{display:inline-block}.gps-583139185745986521 .gp-flex{display:flex}.gps-583139185745986521 .gp-grid{display:grid}.gps-583139185745986521 .gp-contents{display:contents}.gps-583139185745986521 .\!gp-hidden{display:none!important}.gps-583139185745986521 .gp-hidden{display:none}.gps-583139185745986521 .gp-h-full{height:100%}.gps-583139185745986521 .gp-w-full{width:100%}.gps-583139185745986521 .gp-max-w-full{max-width:100%}.gps-583139185745986521 .gp-flex-1{flex:1 1 0%}.gps-583139185745986521 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-583139185745986521 .gp-flex-col{flex-direction:column}.gps-583139185745986521 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583139185745986521 .gp-duration-200{transition-duration:.2s}.gps-583139185745986521 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-583139185745986521 .tablet\:\!gp-hidden{display:none!important}.gps-583139185745986521 .tablet\:gp-hidden{display:none}.gps-583139185745986521 .tablet\:gp-h-full{height:100%}.gps-583139185745986521 .tablet\:gp-flex-1{flex:1 1 0%}}@media (max-width:767px){.gps-583139185745986521 .mobile\:\!gp-hidden{display:none!important}.gps-583139185745986521 .mobile\:gp-hidden{display:none}.gps-583139185745986521 .mobile\:gp-h-full{height:100%}.gps-583139185745986521 .mobile\:gp-flex-1{flex:1 1 0%}}.gps-583139185745986521 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g9Cc_4MLWX"}' data-id="g9Cc_4MLWX" id="g9Cc_4MLWX" data-same-height-subgrid-container class="g9Cc_4MLWX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pt:0px;--pl:320px;--pb:0px;--pr:320px;--mt-mobile:31px;--mb-mobile:31px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--mb-tablet:32px;--pt-tablet:0px;--pl-tablet:48px;--pb-tablet:0px;--pr-tablet:48px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="geY_OV0JwC gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gve3d-jlTI"}' data-id="gve3d-jlTI" id="gve3d-jlTI" data-same-height-subgrid-container class="gve3d-jlTI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px 0px 0px 4px;--bc:#8591E4;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:800px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gn2SnLRb9x gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gy4exlH0MZ"
        class="gy4exlH0MZ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757108597468"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:23px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggy4exlH0MZ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gl4zwArMkQ"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb:16px;--ta:center"
      class="gp-group/image gp-relative force-publish-1757108597469 gp-flex-1 gp-h-full mobile:gp-flex-1 mobile:gp-h-full tablet:gp-flex-1 tablet:gp-h-full gl4zwArMkQ"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_583138851258630769-06d39a3e-04c5-412d-8545-51cb065a5ffc.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjk4MiIgaGVpZ2h0PSIxNDEwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yOTgyLTE0MTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI5ODIiIGhlaWdodD0iMTQxMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjk4MiIgaGVpZ2h0PSIxNDEwIiBmaWxsPSJ1cmwoI2ctMjk4Mi0xNDEwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjk4MiIgdG89IjI5ODIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_583138851258630769-06d39a3e-04c5-412d-8545-51cb065a5ffc.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjk4MiIgaGVpZ2h0PSIxNDEwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yOTgyLTE0MTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI5ODIiIGhlaWdodD0iMTQxMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjk4MiIgaGVpZ2h0PSIxNDEwIiBmaWxsPSJ1cmwoI2ctMjk4Mi0xNDEwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjk4MiIgdG89IjI5ODIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_583138851258630769-06d39a3e-04c5-412d-8545-51cb065a5ffc.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjk4MiIgaGVpZ2h0PSIxNDEwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yOTgyLTE0MTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI5ODIiIGhlaWdodD0iMTQxMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjk4MiIgaGVpZ2h0PSIxNDEwIiBmaWxsPSJ1cmwoI2ctMjk4Mi0xNDEwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjk4MiIgdG89IjI5ODIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_583138851258630769-06d39a3e-04c5-412d-8545-51cb065a5ffc.png" | file_url }}"
        alt=""
        width="100%"
        style="--objf:cover;--h:100%;--h-tablet:100%;--h-mobile:100%;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkD1MN7hZq"
        class="gkD1MN7hZq"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757108597470"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkD1MN7hZq_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-583139185745986521 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ygyz11-bg/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=583139169220428440&sectionId=583139185745986521)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggy4exlH0MZ_text","label":"ggy4exlH0MZ_text","default":"<p>2. Stress and lack of sleep</p>"},{"type":"html","id":"ggkD1MN7hZq_text","label":"ggkD1MN7hZq_text","default":"<p>Chronic stress elevates cortisol, disrupting hair growth and causing premature shedding (telogen effluvium). Lack of sleep worsens this, interfering with hormone regulation and repair, leading to increased shedding, slower regrowth, and thinner hair. Cortisol can also inflame the scalp, while stress disrupts the hair follicle's normal cycle, causing hairs to enter the resting phase and fall out. Insufficient sleep impairs cellular repair and disrupts hormones that regulate hair growth.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  