
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-583139185712431768.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-583139185712431768.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-583139185712431768.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-583139185712431768.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-583139185712431768.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-583139185712431768.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-583139185712431768.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-583139185712431768.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-583139185712431768.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-583139185712431768.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-583139185712431768.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-583139185712431768.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-583139185712431768.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-583139185712431768.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-583139185712431768.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-583139185712431768.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-583139185712431768.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-583139185712431768.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-583139185712431768.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-583139185712431768.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-583139185712431768.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-583139185712431768.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-583139185712431768.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-583139185712431768.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-583139185712431768.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-583139185712431768.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-583139185712431768.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-583139185712431768.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-583139185712431768.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-583139185712431768.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-583139185712431768.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-583139185712431768.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-583139185712431768.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-583139185712431768.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-583139185712431768.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-583139185712431768.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-583139185712431768.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-583139185712431768.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-583139185712431768.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-583139185712431768.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-583139185712431768.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-583139185712431768.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-583139185712431768.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-583139185712431768.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-583139185712431768.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-583139185712431768.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-583139185712431768.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-583139185712431768.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-583139185712431768.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-583139185712431768.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-583139185712431768.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-583139185712431768.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-583139185712431768.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-583139185712431768.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-583139185712431768.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-583139185712431768.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-583139185712431768.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-583139185712431768.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-583139185712431768.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-583139185712431768.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-583139185712431768.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-583139185712431768.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-583139185712431768.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-583139185712431768.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-583139185712431768.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-583139185712431768.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-583139185712431768.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-583139185712431768.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-583139185712431768.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-583139185712431768.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-583139185712431768.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-583139185712431768.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-583139185712431768.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-583139185712431768.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-583139185712431768.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-583139185712431768 .gp-relative{position:relative}.gps-583139185712431768 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-583139185712431768 .gp-mb-0{margin-bottom:0}.gps-583139185712431768 .gp-inline-block{display:inline-block}.gps-583139185712431768 .gp-flex{display:flex}.gps-583139185712431768 .gp-grid{display:grid}.gps-583139185712431768 .gp-contents{display:contents}.gps-583139185712431768 .\!gp-hidden{display:none!important}.gps-583139185712431768 .gp-hidden{display:none}.gps-583139185712431768 .gp-h-auto{height:auto}.gps-583139185712431768 .gp-h-full{height:100%}.gps-583139185712431768 .gp-w-full{width:100%}.gps-583139185712431768 .gp-max-w-full{max-width:100%}.gps-583139185712431768 .gp-flex-none{flex:none}.gps-583139185712431768 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-583139185712431768 .gp-flex-col{flex-direction:column}.gps-583139185712431768 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583139185712431768 .gp-duration-200{transition-duration:.2s}.gps-583139185712431768 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-583139185712431768 .tablet\:\!gp-hidden{display:none!important}.gps-583139185712431768 .tablet\:gp-hidden{display:none}.gps-583139185712431768 .tablet\:gp-h-auto{height:auto}.gps-583139185712431768 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-583139185712431768 .mobile\:\!gp-hidden{display:none!important}.gps-583139185712431768 .mobile\:gp-hidden{display:none}.gps-583139185712431768 .mobile\:gp-h-auto{height:auto}.gps-583139185712431768 .mobile\:gp-flex-none{flex:none}}.gps-583139185712431768 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(800px + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:none;--pl-mobile:none;--pr:var(--g-ct-p, 15px);--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g7IFTOQv5t"}' data-id="g7IFTOQv5t" id="g7IFTOQv5t" data-same-height-subgrid-container class="g7IFTOQv5t gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:64px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:36px;--pl-mobile:20px;--pb-mobile:36px;--pr-mobile:20px;--pt-tablet:64px;--pl-tablet:48px;--pb-tablet:0px;--pr-tablet:48px;--cg:32px;--gtc:minmax(0, 12fr);--w:800px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCPULEcGUa gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1Owy9O5m_"
        class="g1Owy9O5m_"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757108598963"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:48px;--size-tablet:37px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1Owy9O5m__text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g7li16GKJz"}' data-id="g7li16GKJz" id="g7li16GKJz" data-same-height-subgrid-container class="g7li16GKJz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--cg:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gItOXz1Kvg gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gNqVEHWEb4"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1757108598966 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gNqVEHWEb4"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_583138851258630769-1413b2e2-cc79-4709-83f9-6c9bb3e60927.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjg0IiBoZWlnaHQ9IjY4NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjg0LTY4NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjg0IiBoZWlnaHQ9IjY4NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjg0IiBoZWlnaHQ9IjY4NCIgZmlsbD0idXJsKCNnLTY4NC02ODQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02ODQiIHRvPSI2ODQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_583138851258630769-1413b2e2-cc79-4709-83f9-6c9bb3e60927.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjg0IiBoZWlnaHQ9IjY4NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjg0LTY4NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjg0IiBoZWlnaHQ9IjY4NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjg0IiBoZWlnaHQ9IjY4NCIgZmlsbD0idXJsKCNnLTY4NC02ODQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02ODQiIHRvPSI2ODQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_583138851258630769-1413b2e2-cc79-4709-83f9-6c9bb3e60927.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjg0IiBoZWlnaHQ9IjY4NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjg0LTY4NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjg0IiBoZWlnaHQ9IjY4NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjg0IiBoZWlnaHQ9IjY4NCIgZmlsbD0idXJsKCNnLTY4NC02ODQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02ODQiIHRvPSI2ODQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_583138851258630769-1413b2e2-cc79-4709-83f9-6c9bb3e60927.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:60px;--w-tablet:60px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--radiusType:circle;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gSzWKbZ4YH gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gDry9i-vUe"}' data-id="gDry9i-vUe" id="gDry9i-vUe" data-same-height-subgrid-container class="gDry9i-vUe gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:4px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gENkIEEo0Y gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1BqnLP5LR"
        class="g1BqnLP5LR"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757108598970"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1BqnLP5LR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g1WwSXWLBq gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g10uQ4mnv0"
        class="g10uQ4mnv0"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757108598971"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg10uQ4mnv0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g_obt6drxC gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_JOS7KHW_"
        class="g_JOS7KHW_"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757108598973"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_JOS7KHW__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#ebeeff","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gK3jCmk-0X"}' data-id="gK3jCmk-0X" id="gK3jCmk-0X" data-same-height-subgrid-container class="gK3jCmk-0X gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 0px 4px;--bc:#8591E4;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mr:auto;--pt:16px;--pl:32px;--pb:16px;--pr:32px;--mr-mobile:auto;--pt-mobile:14px;--pl-mobile:32px;--pb-mobile:14px;--pr-mobile:32px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#ebeeff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gEmkCJh4hK gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjENOgJRPb"
        class="gjENOgJRPb"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757108598982"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:#EBEEFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjENOgJRPb_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-583139185712431768 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ygyz11-bg/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=583139169220428440&sectionId=583139185712431768)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg1Owy9O5m__text","label":"gg1Owy9O5m__text","default":"<strong>2025 : Les protections jetables pour incontinence sont une ARNAQUE !</strong>"},{"type":"html","id":"gg1BqnLP5LR_text","label":"gg1BqnLP5LR_text","default":"<p>Par <strong>Claire D.</strong></p>"},{"type":"html","id":"gg10uQ4mnv0_text","label":"gg10uQ4mnv0_text","default":"<p>|</p>"},{"type":"html","id":"gg_JOS7KHW__text","label":"gg_JOS7KHW__text","default":"<p>publié le 5 septembre 2025</p>"},{"type":"html","id":"ggjENOgJRPb_text","label":"ggjENOgJRPb_text","default":"<p>\"La solution discrète qui remplace serviettes et couches jetables\"</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  