
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-583139186064753265.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-583139186064753265.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-583139186064753265.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-583139186064753265.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-583139186064753265.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-583139186064753265.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-583139186064753265.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-583139186064753265.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-583139186064753265.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-583139186064753265.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-583139186064753265.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-583139186064753265.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-583139186064753265.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-583139186064753265.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-583139186064753265.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-583139186064753265.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-583139186064753265.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-583139186064753265.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-583139186064753265.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-583139186064753265.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-583139186064753265.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-583139186064753265.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-583139186064753265.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-583139186064753265.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-583139186064753265.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-583139186064753265.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-583139186064753265.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-583139186064753265.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-583139186064753265.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-583139186064753265.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-583139186064753265.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-583139186064753265.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-583139186064753265.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-583139186064753265.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-583139186064753265.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-583139186064753265.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-583139186064753265.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-583139186064753265.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-583139186064753265.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-583139186064753265.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-583139186064753265.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-583139186064753265.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-583139186064753265.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-583139186064753265.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-583139186064753265.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-583139186064753265.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-583139186064753265.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-583139186064753265.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-583139186064753265.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-583139186064753265.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-583139186064753265.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-583139186064753265.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-583139186064753265.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-583139186064753265.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-583139186064753265.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-583139186064753265.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-583139186064753265.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-583139186064753265.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-583139186064753265.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-583139186064753265.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-583139186064753265.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-583139186064753265.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-583139186064753265.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-583139186064753265.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-583139186064753265.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-583139186064753265.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-583139186064753265.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-583139186064753265.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-583139186064753265.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-583139186064753265.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-583139186064753265.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-583139186064753265.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-583139186064753265.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-583139186064753265.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-583139186064753265.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-583139186064753265.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-583139186064753265.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-583139186064753265.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-583139186064753265.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-583139186064753265.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-583139186064753265.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-583139186064753265.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-583139186064753265.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-583139186064753265.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-583139186064753265.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-583139186064753265.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-583139186064753265.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-583139186064753265.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-583139186064753265.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-583139186064753265.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-583139186064753265.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-583139186064753265.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-583139186064753265.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-583139186064753265.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-583139186064753265.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-583139186064753265 .gp-g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-583139186064753265 .gp-relative{position:relative}.gps-583139186064753265 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-583139186064753265 .gp-mb-0{margin-bottom:0}.gps-583139186064753265 .gp-inline-block{display:inline-block}.gps-583139186064753265 .gp-flex{display:flex}.gps-583139186064753265 .gp-inline-flex{display:inline-flex}.gps-583139186064753265 .gp-grid{display:grid}.gps-583139186064753265 .gp-contents{display:contents}.gps-583139186064753265 .\!gp-hidden{display:none!important}.gps-583139186064753265 .gp-hidden{display:none}.gps-583139186064753265 .gp-h-auto{height:auto}.gps-583139186064753265 .gp-h-full{height:100%}.gps-583139186064753265 .gp-w-full{width:100%}.gps-583139186064753265 .gp-max-w-full{max-width:100%}.gps-583139186064753265 .gp-flex-none{flex:none}.gps-583139186064753265 .gp-shrink-0{flex-shrink:0}.gps-583139186064753265 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-583139186064753265 .gp-flex-col{flex-direction:column}.gps-583139186064753265 .gp-items-center{align-items:center}.gps-583139186064753265 .gp-justify-center{justify-content:center}.gps-583139186064753265 .gp-overflow-hidden{overflow:hidden}.gps-583139186064753265 .gp-break-words{overflow-wrap:break-word}.gps-583139186064753265 .gp-border{border-width:1px}.gps-583139186064753265 .gp-border-transparent{border-color:transparent}.gps-583139186064753265 .gp-text-left{text-align:left}.gps-583139186064753265 .gp-text-center{text-align:center}.gps-583139186064753265 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-583139186064753265 .gp-no-underline{text-decoration-line:none}.gps-583139186064753265 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583139186064753265 .gp-duration-200{transition-duration:.2s}.gps-583139186064753265 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583139186064753265 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-583139186064753265 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-583139186064753265 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-583139186064753265 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-583139186064753265 .tablet\:\!gp-hidden{display:none!important}.gps-583139186064753265 .tablet\:gp-hidden{display:none}.gps-583139186064753265 .tablet\:gp-h-auto{height:auto}.gps-583139186064753265 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-583139186064753265 .mobile\:\!gp-hidden{display:none!important}.gps-583139186064753265 .mobile\:gp-hidden{display:none}.gps-583139186064753265 .mobile\:gp-h-auto{height:auto}.gps-583139186064753265 .mobile\:gp-flex-none{flex:none}}.gps-583139186064753265 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-583139186064753265 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-583139186064753265 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-583139186064753265 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-583139186064753265 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-583139186064753265 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-583139186064753265 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-583139186064753265 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(800px + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:none;--pl-mobile:none;--pr:var(--g-ct-p, 15px);--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gNZ7uGl0yi"}' data-id="gNZ7uGl0yi" id="gNZ7uGl0yi" data-same-height-subgrid-container class="gNZ7uGl0yi gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:80px;--pt:80px;--pl:0px;--pb:48px;--pr:0px;--pt-tablet:80px;--pl-tablet:48px;--pb-tablet:48px;--pr-tablet:48px;--pt-mobile:undefined;--pl-mobile:15px;--pb-mobile:14px;--pr-mobile:15px;--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:800px;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gmXvN90A17 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHCH0MPcwK"
        class="gHCH0MPcwK"
        style="--ta:left;--mb:32px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172155279"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-subheading-3  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:left;--weight:bold;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHCH0MPcwK_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gF_GwlR-3g"}' data-id="gF_GwlR-3g" id="gF_GwlR-3g" data-same-height-subgrid-container class="gF_GwlR-3g gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--mb-mobile:14px;--cg:12px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:end;--d-mobile:none"
      class="gcewXG6fpU gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      data-same-height-display-contents
      style="--jc:end"
      class="g0LadF0zv_ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gJxqodEZJt"}' data-id="gJxqodEZJt" id="gJxqodEZJt" data-same-height-subgrid-container class="gJxqodEZJt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pl:30px;--mb-mobile:14px;--pl-mobile:auto;--cg:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gTUNlylgbA gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EBEEFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gAr9_9FfRq"}' data-id="gAr9_9FfRq" id="gAr9_9FfRq" data-same-height-subgrid-container class="gAr9_9FfRq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:0px;--pl:16px;--pr:16px;--pl-mobile:10px;--pr-mobile:10px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:#EBEEFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gcb03C86wl gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gQcJ2X49Pq"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-106px;--mb:0px;--mt-mobile:-55px;--mb-mobile:4px;--ta:center"
      class="gp-group/image gp-relative force-publish-1757172155293 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gQcJ2X49Pq"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_583138851258630769-d8695ab9-fbb4-4f5d-915a-b22ac0542ab6.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTAwLTUwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0idXJsKCNnLTUwMC01MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MDAiIHRvPSI1MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_583138851258630769-749bca4c-5bb3-4134-a6d8-684d75f1d2d4.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzQxIiBoZWlnaHQ9Ijc0MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzQxLTc0MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzQxIiBoZWlnaHQ9Ijc0MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzQxIiBoZWlnaHQ9Ijc0MSIgZmlsbD0idXJsKCNnLTc0MS03NDEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NDEiIHRvPSI3NDEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_583138851258630769-749bca4c-5bb3-4134-a6d8-684d75f1d2d4.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzQxIiBoZWlnaHQ9Ijc0MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzQxLTc0MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzQxIiBoZWlnaHQ9Ijc0MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzQxIiBoZWlnaHQ9Ijc0MSIgZmlsbD0idXJsKCNnLTc0MS03NDEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NDEiIHRvPSI3NDEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_583138851258630769-749bca4c-5bb3-4134-a6d8-684d75f1d2d4.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:auto;--objf:cover;--w:256px;--w-tablet:256px;--w-mobile:94px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gQcJ2X49Pq">
        .gQcJ2X49Pq {

}
.gQcJ2X49Pq > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYFFwuUVRC"
        class="gYFFwuUVRC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172155295"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYFFwuUVRC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gYFFwuUVRC">
        .gYFFwuUVRC {

}
.gYFFwuUVRC p {

}
      </style>
    <div gp-el-wrapper  class="g0c_m5kwhV ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="g0c_m5kwhV"
      data-id="g0c_m5kwhV"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--mb:10px;--jc:left"
      className="g0c_m5kwhV"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":20,"mobile":"12","tablet":20}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:8px;--pb-mobile:8px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g0c_m5kwhV"
                      style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:12px"
                        >
                          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172155296"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:13px;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0c_m5kwhV_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="g5z5cjn7dV ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="g5z5cjn7dV"
      data-id="g5z5cjn7dV"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--mb:10px;--jc:left"
      className="g5z5cjn7dV"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":20,"mobile":12,"tablet":19}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:8px;--pb-mobile:8px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g5z5cjn7dV"
                      style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:19px;--size-mobile:12px"
                        >
                          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172155297"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:13px;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5z5cjn7dV_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="gxppMnupLd ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gxppMnupLd"
      data-id="gxppMnupLd"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--mb:10px;--jc:left"
      className="gxppMnupLd"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":20,"mobile":12,"tablet":20}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:8px;--pb-mobile:8px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gxppMnupLd"
                      style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:12px"
                        >
                          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172155298"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:13px;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxppMnupLd_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="gNfTJczfHY ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gNfTJczfHY"
      data-id="gNfTJczfHY"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--mb:10px;--jc:left"
      className="gNfTJczfHY"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":20,"mobile":12,"tablet":16}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:8px;--pb-mobile:8px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gNfTJczfHY"
                      style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:16px;--size-mobile:12px"
                        >
                          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172155300"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:13px;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNfTJczfHY_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="g5Fr3rQu8B ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="g5Fr3rQu8B"
      data-id="g5Fr3rQu8B"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--mb:16px;--jc:left"
      className="g5Fr3rQu8B"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":20,"mobile":12,"tablet":20}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:8px;--pb-mobile:8px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g5Fr3rQu8B"
                      style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:20px;--size-tablet:20px;--size-mobile:12px"
                        >
                          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172155301"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:13px;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5Fr3rQu8B_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g0u9TCwydC gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EAEAEA","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ghM96c7oO-"}' data-id="ghM96c7oO-" id="ghM96c7oO-" data-same-height-subgrid-container class="ghM96c7oO- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:10px;--btlr:0px;--btrr:10px;--pl:16px;--pr:16px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:#EAEAEA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gRBtKeqpdc gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g97vBqKvst"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-96px;--mb:36px;--mt-mobile:-82px;--mb-mobile:7px;--mt-tablet:-133px;--mb-tablet:36px;--ta:center"
      class="gp-group/image gp-relative force-publish-1757172155305 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g97vBqKvst"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_583138851258630769-7e0a7e6a-f5c3-4981-a01f-6272412be24c.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTgwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMCIgZmlsbD0idXJsKCNnLTgwMC04MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_583138851258630769-b8e5793b-c588-4790-81f5-31ffdf8dce67.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkwNCIgaGVpZ2h0PSI0MTg2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yOTA0LTQxODYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI5MDQiIGhlaWdodD0iNDE4NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjkwNCIgaGVpZ2h0PSI0MTg2IiBmaWxsPSJ1cmwoI2ctMjkwNC00MTg2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjkwNCIgdG89IjI5MDQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_583138851258630769-b8e5793b-c588-4790-81f5-31ffdf8dce67.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkwNCIgaGVpZ2h0PSI0MTg2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yOTA0LTQxODYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjI5MDQiIGhlaWdodD0iNDE4NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjkwNCIgaGVpZ2h0PSI0MTg2IiBmaWxsPSJ1cmwoI2ctMjkwNC00MTg2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjkwNCIgdG89IjI5MDQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_583138851258630769-b8e5793b-c588-4790-81f5-31ffdf8dce67.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:180/180;--aspect-tablet:180/180;--aspect-mobile:auto;--objf:cover;--w:180px;--w-tablet:180px;--w-mobile:82px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g97vBqKvst">
        .g97vBqKvst {

}
.g97vBqKvst > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCyDyeFuQ4"
        class="gCyDyeFuQ4"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172155306"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCyDyeFuQ4_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gCyDyeFuQ4">
        .gCyDyeFuQ4 {

}
.gCyDyeFuQ4 p {

}
      </style>
    <div gp-el-wrapper  class="gD56_FJkMY ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gD56_FJkMY"
      data-id="gD56_FJkMY"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--mb:10px;--jc:left"
      className="gD56_FJkMY"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":18,"mobile":12,"tablet":18}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:6px;--pb-mobile:6px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gD56_FJkMY"
                      style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:18px;--size-mobile:12px"
                        >
                          <svg data-id="512603306221110377" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
<g clip-path="url(#clip0_654_66845)">
<path d="M9.20117 17.0703C7.11259 17.0703 5.10955 16.2406 3.63271 14.7638C2.15586 13.2869 1.32617 11.2839 1.32617 9.19531C1.32617 7.10673 2.15586 5.1037 3.63271 3.62685C5.10955 2.15 7.11259 1.32031 9.20117 1.32031C11.2898 1.32031 13.2928 2.15 14.7696 3.62685C16.2465 5.1037 17.0762 7.10673 17.0762 9.19531C17.0762 11.2839 16.2465 13.2869 14.7696 14.7638C13.2928 16.2406 11.2898 17.0703 9.20117 17.0703ZM9.20117 18.1953C11.5881 18.1953 13.8773 17.2471 15.5651 15.5593C17.253 13.8714 18.2012 11.5823 18.2012 9.19531C18.2012 6.80836 17.253 4.51918 15.5651 2.83135C13.8773 1.14352 11.5881 0.195313 9.20117 0.195312C6.81422 0.195313 4.52504 1.14352 2.83721 2.83135C1.14938 4.51918 0.201172 6.80836 0.201172 9.19531C0.201172 11.5823 1.14938 13.8714 2.83721 15.5593C4.52504 17.2471 6.81422 18.1953 9.20117 18.1953Z" fill="#242424"/>
<path d="M5.42783 5.42304C5.48008 5.37065 5.54215 5.32909 5.61049 5.30073C5.67883 5.27238 5.75209 5.25778 5.82608 5.25778C5.90007 5.25778 5.97333 5.27238 6.04167 5.30073C6.11001 5.32909 6.17208 5.37065 6.22433 5.42304L9.20108 8.40091L12.1778 5.42304C12.2301 5.37074 12.2922 5.32925 12.3605 5.30095C12.4289 5.27264 12.5021 5.25808 12.5761 5.25808C12.65 5.25808 12.7233 5.27264 12.7916 5.30095C12.8599 5.32925 12.922 5.37074 12.9743 5.42304C13.0266 5.47534 13.0681 5.53742 13.0964 5.60575C13.1247 5.67409 13.1393 5.74732 13.1393 5.82129C13.1393 5.89525 13.1247 5.96849 13.0964 6.03682C13.0681 6.10515 13.0266 6.16724 12.9743 6.21954L9.99646 9.19629L12.9743 12.173C13.0266 12.2253 13.0681 12.2874 13.0964 12.3558C13.1247 12.4241 13.1393 12.4973 13.1393 12.5713C13.1393 12.6452 13.1247 12.7185 13.0964 12.7868C13.0681 12.8551 13.0266 12.9172 12.9743 12.9695C12.922 13.0218 12.8599 13.0633 12.7916 13.0916C12.7233 13.1199 12.65 13.1345 12.5761 13.1345C12.5021 13.1345 12.4289 13.1199 12.3605 13.0916C12.2922 13.0633 12.2301 13.0218 12.1778 12.9695L9.20108 9.99166L6.22433 12.9695C6.17203 13.0218 6.10994 13.0633 6.04161 13.0916C5.97328 13.1199 5.90004 13.1345 5.82608 13.1345C5.75212 13.1345 5.67888 13.1199 5.61055 13.0916C5.54222 13.0633 5.48013 13.0218 5.42783 12.9695C5.37553 12.9172 5.33405 12.8551 5.30574 12.7868C5.27744 12.7185 5.26287 12.6452 5.26287 12.5713C5.26287 12.4973 5.27744 12.4241 5.30574 12.3558C5.33405 12.2874 5.37553 12.2253 5.42783 12.173L8.40571 9.19629L5.42783 6.21954C5.37545 6.16728 5.33389 6.10521 5.30553 6.03687C5.27717 5.96854 5.26258 5.89527 5.26258 5.82129C5.26258 5.7473 5.27717 5.67404 5.30553 5.6057C5.33389 5.53736 5.37545 5.47529 5.42783 5.42304Z" fill="#242424"/>
</g>
<defs>
<clipPath id="clip0_654_66845">
<rect width="18" height="18" fill="white" transform="translate(0.201172 0.195312)"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172155307"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggD56_FJkMY_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="g-7-DyFu_Z ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="g-7-DyFu_Z"
      data-id="g-7-DyFu_Z"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--mb:10px;--jc:left"
      className="g-7-DyFu_Z"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":18,"mobile":12,"tablet":18}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:6px;--pb-mobile:6px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g-7-DyFu_Z"
                      style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:18px;--size-mobile:12px"
                        >
                          <svg data-id="512603306221110377" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
<g clip-path="url(#clip0_654_66845)">
<path d="M9.20117 17.0703C7.11259 17.0703 5.10955 16.2406 3.63271 14.7638C2.15586 13.2869 1.32617 11.2839 1.32617 9.19531C1.32617 7.10673 2.15586 5.1037 3.63271 3.62685C5.10955 2.15 7.11259 1.32031 9.20117 1.32031C11.2898 1.32031 13.2928 2.15 14.7696 3.62685C16.2465 5.1037 17.0762 7.10673 17.0762 9.19531C17.0762 11.2839 16.2465 13.2869 14.7696 14.7638C13.2928 16.2406 11.2898 17.0703 9.20117 17.0703ZM9.20117 18.1953C11.5881 18.1953 13.8773 17.2471 15.5651 15.5593C17.253 13.8714 18.2012 11.5823 18.2012 9.19531C18.2012 6.80836 17.253 4.51918 15.5651 2.83135C13.8773 1.14352 11.5881 0.195313 9.20117 0.195312C6.81422 0.195313 4.52504 1.14352 2.83721 2.83135C1.14938 4.51918 0.201172 6.80836 0.201172 9.19531C0.201172 11.5823 1.14938 13.8714 2.83721 15.5593C4.52504 17.2471 6.81422 18.1953 9.20117 18.1953Z" fill="#242424"/>
<path d="M5.42783 5.42304C5.48008 5.37065 5.54215 5.32909 5.61049 5.30073C5.67883 5.27238 5.75209 5.25778 5.82608 5.25778C5.90007 5.25778 5.97333 5.27238 6.04167 5.30073C6.11001 5.32909 6.17208 5.37065 6.22433 5.42304L9.20108 8.40091L12.1778 5.42304C12.2301 5.37074 12.2922 5.32925 12.3605 5.30095C12.4289 5.27264 12.5021 5.25808 12.5761 5.25808C12.65 5.25808 12.7233 5.27264 12.7916 5.30095C12.8599 5.32925 12.922 5.37074 12.9743 5.42304C13.0266 5.47534 13.0681 5.53742 13.0964 5.60575C13.1247 5.67409 13.1393 5.74732 13.1393 5.82129C13.1393 5.89525 13.1247 5.96849 13.0964 6.03682C13.0681 6.10515 13.0266 6.16724 12.9743 6.21954L9.99646 9.19629L12.9743 12.173C13.0266 12.2253 13.0681 12.2874 13.0964 12.3558C13.1247 12.4241 13.1393 12.4973 13.1393 12.5713C13.1393 12.6452 13.1247 12.7185 13.0964 12.7868C13.0681 12.8551 13.0266 12.9172 12.9743 12.9695C12.922 13.0218 12.8599 13.0633 12.7916 13.0916C12.7233 13.1199 12.65 13.1345 12.5761 13.1345C12.5021 13.1345 12.4289 13.1199 12.3605 13.0916C12.2922 13.0633 12.2301 13.0218 12.1778 12.9695L9.20108 9.99166L6.22433 12.9695C6.17203 13.0218 6.10994 13.0633 6.04161 13.0916C5.97328 13.1199 5.90004 13.1345 5.82608 13.1345C5.75212 13.1345 5.67888 13.1199 5.61055 13.0916C5.54222 13.0633 5.48013 13.0218 5.42783 12.9695C5.37553 12.9172 5.33405 12.8551 5.30574 12.7868C5.27744 12.7185 5.26287 12.6452 5.26287 12.5713C5.26287 12.4973 5.27744 12.4241 5.30574 12.3558C5.33405 12.2874 5.37553 12.2253 5.42783 12.173L8.40571 9.19629L5.42783 6.21954C5.37545 6.16728 5.33389 6.10521 5.30553 6.03687C5.27717 5.96854 5.26258 5.89527 5.26258 5.82129C5.26258 5.7473 5.27717 5.67404 5.30553 5.6057C5.33389 5.53736 5.37545 5.47529 5.42783 5.42304Z" fill="#242424"/>
</g>
<defs>
<clipPath id="clip0_654_66845">
<rect width="18" height="18" fill="white" transform="translate(0.201172 0.195312)"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172155309"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-7-DyFu_Z_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="gZ_ADn9W_1 ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gZ_ADn9W_1"
      data-id="gZ_ADn9W_1"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--mb:10px;--jc:left"
      className="gZ_ADn9W_1"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":18,"mobile":12,"tablet":18}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:6px;--pb-mobile:6px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gZ_ADn9W_1"
                      style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:18px;--size-mobile:12px"
                        >
                          <svg data-id="512603306221110377" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
<g clip-path="url(#clip0_654_66845)">
<path d="M9.20117 17.0703C7.11259 17.0703 5.10955 16.2406 3.63271 14.7638C2.15586 13.2869 1.32617 11.2839 1.32617 9.19531C1.32617 7.10673 2.15586 5.1037 3.63271 3.62685C5.10955 2.15 7.11259 1.32031 9.20117 1.32031C11.2898 1.32031 13.2928 2.15 14.7696 3.62685C16.2465 5.1037 17.0762 7.10673 17.0762 9.19531C17.0762 11.2839 16.2465 13.2869 14.7696 14.7638C13.2928 16.2406 11.2898 17.0703 9.20117 17.0703ZM9.20117 18.1953C11.5881 18.1953 13.8773 17.2471 15.5651 15.5593C17.253 13.8714 18.2012 11.5823 18.2012 9.19531C18.2012 6.80836 17.253 4.51918 15.5651 2.83135C13.8773 1.14352 11.5881 0.195313 9.20117 0.195312C6.81422 0.195313 4.52504 1.14352 2.83721 2.83135C1.14938 4.51918 0.201172 6.80836 0.201172 9.19531C0.201172 11.5823 1.14938 13.8714 2.83721 15.5593C4.52504 17.2471 6.81422 18.1953 9.20117 18.1953Z" fill="#242424"/>
<path d="M5.42783 5.42304C5.48008 5.37065 5.54215 5.32909 5.61049 5.30073C5.67883 5.27238 5.75209 5.25778 5.82608 5.25778C5.90007 5.25778 5.97333 5.27238 6.04167 5.30073C6.11001 5.32909 6.17208 5.37065 6.22433 5.42304L9.20108 8.40091L12.1778 5.42304C12.2301 5.37074 12.2922 5.32925 12.3605 5.30095C12.4289 5.27264 12.5021 5.25808 12.5761 5.25808C12.65 5.25808 12.7233 5.27264 12.7916 5.30095C12.8599 5.32925 12.922 5.37074 12.9743 5.42304C13.0266 5.47534 13.0681 5.53742 13.0964 5.60575C13.1247 5.67409 13.1393 5.74732 13.1393 5.82129C13.1393 5.89525 13.1247 5.96849 13.0964 6.03682C13.0681 6.10515 13.0266 6.16724 12.9743 6.21954L9.99646 9.19629L12.9743 12.173C13.0266 12.2253 13.0681 12.2874 13.0964 12.3558C13.1247 12.4241 13.1393 12.4973 13.1393 12.5713C13.1393 12.6452 13.1247 12.7185 13.0964 12.7868C13.0681 12.8551 13.0266 12.9172 12.9743 12.9695C12.922 13.0218 12.8599 13.0633 12.7916 13.0916C12.7233 13.1199 12.65 13.1345 12.5761 13.1345C12.5021 13.1345 12.4289 13.1199 12.3605 13.0916C12.2922 13.0633 12.2301 13.0218 12.1778 12.9695L9.20108 9.99166L6.22433 12.9695C6.17203 13.0218 6.10994 13.0633 6.04161 13.0916C5.97328 13.1199 5.90004 13.1345 5.82608 13.1345C5.75212 13.1345 5.67888 13.1199 5.61055 13.0916C5.54222 13.0633 5.48013 13.0218 5.42783 12.9695C5.37553 12.9172 5.33405 12.8551 5.30574 12.7868C5.27744 12.7185 5.26287 12.6452 5.26287 12.5713C5.26287 12.4973 5.27744 12.4241 5.30574 12.3558C5.33405 12.2874 5.37553 12.2253 5.42783 12.173L8.40571 9.19629L5.42783 6.21954C5.37545 6.16728 5.33389 6.10521 5.30553 6.03687C5.27717 5.96854 5.26258 5.89527 5.26258 5.82129C5.26258 5.7473 5.27717 5.67404 5.30553 5.6057C5.33389 5.53736 5.37545 5.47529 5.42783 5.42304Z" fill="#242424"/>
</g>
<defs>
<clipPath id="clip0_654_66845">
<rect width="18" height="18" fill="white" transform="translate(0.201172 0.195312)"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172155310"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZ_ADn9W_1_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="gL0m69dbtE ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gL0m69dbtE"
      data-id="gL0m69dbtE"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--mb:10px;--jc:left"
      className="gL0m69dbtE"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":18,"mobile":12,"tablet":18}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:6px;--pb-mobile:6px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gL0m69dbtE"
                      style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:18px;--size-mobile:12px"
                        >
                          <svg data-id="512603306221110377" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
<g clip-path="url(#clip0_654_66845)">
<path d="M9.20117 17.0703C7.11259 17.0703 5.10955 16.2406 3.63271 14.7638C2.15586 13.2869 1.32617 11.2839 1.32617 9.19531C1.32617 7.10673 2.15586 5.1037 3.63271 3.62685C5.10955 2.15 7.11259 1.32031 9.20117 1.32031C11.2898 1.32031 13.2928 2.15 14.7696 3.62685C16.2465 5.1037 17.0762 7.10673 17.0762 9.19531C17.0762 11.2839 16.2465 13.2869 14.7696 14.7638C13.2928 16.2406 11.2898 17.0703 9.20117 17.0703ZM9.20117 18.1953C11.5881 18.1953 13.8773 17.2471 15.5651 15.5593C17.253 13.8714 18.2012 11.5823 18.2012 9.19531C18.2012 6.80836 17.253 4.51918 15.5651 2.83135C13.8773 1.14352 11.5881 0.195313 9.20117 0.195312C6.81422 0.195313 4.52504 1.14352 2.83721 2.83135C1.14938 4.51918 0.201172 6.80836 0.201172 9.19531C0.201172 11.5823 1.14938 13.8714 2.83721 15.5593C4.52504 17.2471 6.81422 18.1953 9.20117 18.1953Z" fill="#242424"/>
<path d="M5.42783 5.42304C5.48008 5.37065 5.54215 5.32909 5.61049 5.30073C5.67883 5.27238 5.75209 5.25778 5.82608 5.25778C5.90007 5.25778 5.97333 5.27238 6.04167 5.30073C6.11001 5.32909 6.17208 5.37065 6.22433 5.42304L9.20108 8.40091L12.1778 5.42304C12.2301 5.37074 12.2922 5.32925 12.3605 5.30095C12.4289 5.27264 12.5021 5.25808 12.5761 5.25808C12.65 5.25808 12.7233 5.27264 12.7916 5.30095C12.8599 5.32925 12.922 5.37074 12.9743 5.42304C13.0266 5.47534 13.0681 5.53742 13.0964 5.60575C13.1247 5.67409 13.1393 5.74732 13.1393 5.82129C13.1393 5.89525 13.1247 5.96849 13.0964 6.03682C13.0681 6.10515 13.0266 6.16724 12.9743 6.21954L9.99646 9.19629L12.9743 12.173C13.0266 12.2253 13.0681 12.2874 13.0964 12.3558C13.1247 12.4241 13.1393 12.4973 13.1393 12.5713C13.1393 12.6452 13.1247 12.7185 13.0964 12.7868C13.0681 12.8551 13.0266 12.9172 12.9743 12.9695C12.922 13.0218 12.8599 13.0633 12.7916 13.0916C12.7233 13.1199 12.65 13.1345 12.5761 13.1345C12.5021 13.1345 12.4289 13.1199 12.3605 13.0916C12.2922 13.0633 12.2301 13.0218 12.1778 12.9695L9.20108 9.99166L6.22433 12.9695C6.17203 13.0218 6.10994 13.0633 6.04161 13.0916C5.97328 13.1199 5.90004 13.1345 5.82608 13.1345C5.75212 13.1345 5.67888 13.1199 5.61055 13.0916C5.54222 13.0633 5.48013 13.0218 5.42783 12.9695C5.37553 12.9172 5.33405 12.8551 5.30574 12.7868C5.27744 12.7185 5.26287 12.6452 5.26287 12.5713C5.26287 12.4973 5.27744 12.4241 5.30574 12.3558C5.33405 12.2874 5.37553 12.2253 5.42783 12.173L8.40571 9.19629L5.42783 6.21954C5.37545 6.16728 5.33389 6.10521 5.30553 6.03687C5.27717 5.96854 5.26258 5.89527 5.26258 5.82129C5.26258 5.7473 5.27717 5.67404 5.30553 5.6057C5.33389 5.53736 5.37545 5.47529 5.42783 5.42304Z" fill="#242424"/>
</g>
<defs>
<clipPath id="clip0_654_66845">
<rect width="18" height="18" fill="white" transform="translate(0.201172 0.195312)"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172155311"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggL0m69dbtE_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div><div gp-el-wrapper  class="g5TRhnMXD2 ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="g5TRhnMXD2"
      data-id="g5TRhnMXD2"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--mb:16px;--jc:left"
      className="g5TRhnMXD2"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":18,"mobile":12,"tablet":18}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:6px;--pr-mobile:6px;--pt-mobile:6px;--pb-mobile:6px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g5TRhnMXD2"
                      style="--cg:10px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:18px;--size-tablet:18px;--size-mobile:12px"
                        >
                          <svg data-id="512603306221110377" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
<g clip-path="url(#clip0_654_66845)">
<path d="M9.20117 17.0703C7.11259 17.0703 5.10955 16.2406 3.63271 14.7638C2.15586 13.2869 1.32617 11.2839 1.32617 9.19531C1.32617 7.10673 2.15586 5.1037 3.63271 3.62685C5.10955 2.15 7.11259 1.32031 9.20117 1.32031C11.2898 1.32031 13.2928 2.15 14.7696 3.62685C16.2465 5.1037 17.0762 7.10673 17.0762 9.19531C17.0762 11.2839 16.2465 13.2869 14.7696 14.7638C13.2928 16.2406 11.2898 17.0703 9.20117 17.0703ZM9.20117 18.1953C11.5881 18.1953 13.8773 17.2471 15.5651 15.5593C17.253 13.8714 18.2012 11.5823 18.2012 9.19531C18.2012 6.80836 17.253 4.51918 15.5651 2.83135C13.8773 1.14352 11.5881 0.195313 9.20117 0.195312C6.81422 0.195313 4.52504 1.14352 2.83721 2.83135C1.14938 4.51918 0.201172 6.80836 0.201172 9.19531C0.201172 11.5823 1.14938 13.8714 2.83721 15.5593C4.52504 17.2471 6.81422 18.1953 9.20117 18.1953Z" fill="#242424"/>
<path d="M5.42783 5.42304C5.48008 5.37065 5.54215 5.32909 5.61049 5.30073C5.67883 5.27238 5.75209 5.25778 5.82608 5.25778C5.90007 5.25778 5.97333 5.27238 6.04167 5.30073C6.11001 5.32909 6.17208 5.37065 6.22433 5.42304L9.20108 8.40091L12.1778 5.42304C12.2301 5.37074 12.2922 5.32925 12.3605 5.30095C12.4289 5.27264 12.5021 5.25808 12.5761 5.25808C12.65 5.25808 12.7233 5.27264 12.7916 5.30095C12.8599 5.32925 12.922 5.37074 12.9743 5.42304C13.0266 5.47534 13.0681 5.53742 13.0964 5.60575C13.1247 5.67409 13.1393 5.74732 13.1393 5.82129C13.1393 5.89525 13.1247 5.96849 13.0964 6.03682C13.0681 6.10515 13.0266 6.16724 12.9743 6.21954L9.99646 9.19629L12.9743 12.173C13.0266 12.2253 13.0681 12.2874 13.0964 12.3558C13.1247 12.4241 13.1393 12.4973 13.1393 12.5713C13.1393 12.6452 13.1247 12.7185 13.0964 12.7868C13.0681 12.8551 13.0266 12.9172 12.9743 12.9695C12.922 13.0218 12.8599 13.0633 12.7916 13.0916C12.7233 13.1199 12.65 13.1345 12.5761 13.1345C12.5021 13.1345 12.4289 13.1199 12.3605 13.0916C12.2922 13.0633 12.2301 13.0218 12.1778 12.9695L9.20108 9.99166L6.22433 12.9695C6.17203 13.0218 6.10994 13.0633 6.04161 13.0916C5.97328 13.1199 5.90004 13.1345 5.82608 13.1345C5.75212 13.1345 5.67888 13.1199 5.61055 13.0916C5.54222 13.0633 5.48013 13.0218 5.42783 12.9695C5.37553 12.9172 5.33405 12.8551 5.30574 12.7868C5.27744 12.7185 5.26287 12.6452 5.26287 12.5713C5.26287 12.4973 5.27744 12.4241 5.30574 12.3558C5.33405 12.2874 5.37553 12.2253 5.42783 12.173L8.40571 9.19629L5.42783 6.21954C5.37545 6.16728 5.33389 6.10521 5.30553 6.03687C5.27717 5.96854 5.26258 5.89527 5.26258 5.82129C5.26258 5.7473 5.27717 5.67404 5.30553 5.6057C5.33389 5.53736 5.37545 5.47529 5.42783 5.42304Z" fill="#242424"/>
</g>
<defs>
<clipPath id="clip0_654_66845">
<rect width="18" height="18" fill="white" transform="translate(0.201172 0.195312)"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172155312"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5TRhnMXD2_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g2tctDgofh"}' data-id="g2tctDgofh" id="g2tctDgofh" data-same-height-subgrid-container class="g2tctDgofh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:14px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gLC71BoFrW gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://veinaa.com/pages/page-daccueil","selectedTab":"products","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-mobile:6px;--ta:center" >
        <style>[data-id="gADMV7UGgN"].gp-button-base::before, [data-id="gADMV7UGgN-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      
  
    }
  
      
  [data-id="gADMV7UGgN"]:hover::before, [data-id="gADMV7UGgN-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gADMV7UGgN" dataId="gADMV7UGgN" data-state="idle" aria-label="<p>Acheter Maintenant</p>"
          
          href="https://veinaa.com/pages/page-daccueil" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:78px;--pr:78px;--pt:16px;--pb:16px;--pl-tablet:64px;--pr-tablet:64px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:64px;--pr-mobile:64px;--pt-mobile:16px;--pb-mobile:16px;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--hvr-bblr:100px;--hvr-bbrr:100px;--hvr-btlr:100px;--hvr-btrr:100px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#261591;--bg:#29B207;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%"
          class="gADMV7UGgN gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggADMV7UGgN_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMXzgO7ekU"
        class="gMXzgO7ekU"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172155337"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMXzgO7ekU_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gMXzgO7ekU">
        .gMXzgO7ekU {

}
.gMXzgO7ekU p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 14",
    "tag": "section",
    "class": "gps-583139186064753265 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ygyz11-bg/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=583139169220428440&sectionId=583139186064753265)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggHCH0MPcwK_text","label":"ggHCH0MPcwK_text","default":"VEINAA vs. les protections jetables : le choix est vite fait"},{"type":"html","id":"ggYFFwuUVRC_text","label":"ggYFFwuUVRC_text","default":"<p>VEINAA</p>"},{"type":"html","id":"gg0c_m5kwhV_childItem_0","label":"gg0c_m5kwhV_childItem_0","default":"<p><strong>4 couches ultra-absorbantes</strong></p>"},{"type":"html","id":"gg5z5cjn7dV_childItem_0","label":"gg5z5cjn7dV_childItem_0","default":"<p><strong>Zro odeur, zro humidit</strong></p>"},{"type":"html","id":"ggxppMnupLd_childItem_0","label":"ggxppMnupLd_childItem_0","default":"<p>Rutilisable et conomique</p>"},{"type":"html","id":"ggNfTJczfHY_childItem_0","label":"ggNfTJczfHY_childItem_0","default":"<p><strong>Invisible sous les vtements</strong></p>"},{"type":"html","id":"gg5Fr3rQu8B_childItem_0","label":"gg5Fr3rQu8B_childItem_0","default":"<p><strong>Confortable et douce toute la journe</strong></p>"},{"type":"html","id":"ggCyDyeFuQ4_text","label":"ggCyDyeFuQ4_text","default":"<p>Autres solutions</p>"},{"type":"html","id":"ggD56_FJkMY_childItem_0","label":"ggD56_FJkMY_childItem_0","default":"<p>Protgent mal et peu longtemps</p>"},{"type":"html","id":"gg-7-DyFu_Z_childItem_0","label":"gg-7-DyFu_Z_childItem_0","default":"<p>Sensation dinconfort</p>"},{"type":"html","id":"ggZ_ADn9W_1_childItem_0","label":"ggZ_ADn9W_1_childItem_0","default":"<p>Odeurs dsagrables</p>"},{"type":"html","id":"ggL0m69dbtE_childItem_0","label":"ggL0m69dbtE_childItem_0","default":"<p>Jetables = dpenses continues</p>"},{"type":"html","id":"gg5TRhnMXD2_childItem_0","label":"gg5TRhnMXD2_childItem_0","default":"<p>Aspect peu esthtique</p>"},{"type":"html","id":"ggADMV7UGgN_label","label":"ggADMV7UGgN_label","default":"<p>Acheter Maintenant</p>"},{"type":"html","id":"ggMXzgO7ekU_text","label":"ggMXzgO7ekU_text","default":"<p>Garantie de remboursement de 30 jours incluse</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  