
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-583139185695654873.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-583139185695654873.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-583139185695654873.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-583139185695654873.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-583139185695654873.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-583139185695654873.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-583139185695654873.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-583139185695654873.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-583139185695654873.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-583139185695654873.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-583139185695654873.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-583139185695654873.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-583139185695654873.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-583139185695654873.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-583139185695654873.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-583139185695654873.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-583139185695654873.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-583139185695654873.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-583139185695654873.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-583139185695654873.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-583139185695654873.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-583139185695654873.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-583139185695654873.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-583139185695654873.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-583139185695654873.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-583139185695654873.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-583139185695654873.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-583139185695654873.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-583139185695654873.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-583139185695654873.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-583139185695654873.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-583139185695654873.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-583139185695654873.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-583139185695654873.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-583139185695654873.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-583139185695654873.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-583139185695654873.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-583139185695654873.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-583139185695654873.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-583139185695654873.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-583139185695654873.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-583139185695654873.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-583139185695654873.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-583139185695654873.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-583139185695654873.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-583139185695654873.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-583139185695654873.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-583139185695654873.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-583139185695654873.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-583139185695654873.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-583139185695654873.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-583139185695654873.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-583139185695654873.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-583139185695654873.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-583139185695654873.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-583139185695654873.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-583139185695654873.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-583139185695654873.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-583139185695654873.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-583139185695654873.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-583139185695654873.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-583139185695654873.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-583139185695654873.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-583139185695654873.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-583139185695654873.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-583139185695654873.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-583139185695654873.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-583139185695654873.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-583139185695654873.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-583139185695654873.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-583139185695654873.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-583139185695654873.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-583139185695654873.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-583139185695654873.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-583139185695654873.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-583139185695654873.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-583139185695654873.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-583139185695654873 .gp-g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-583139185695654873 .gp-g-subheading-3{font-family:var(--g-sh3-ff);font-size:var(--g-sh3-size);font-style:var(--g-sh3-fs);font-weight:var(--g-sh3-weight);letter-spacing:var(--g-sh3-ls);line-height:var(--g-sh3-lh)}.gps-583139185695654873 .gp-relative{position:relative}.gps-583139185695654873 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-583139185695654873 .gp-mb-0{margin-bottom:0}.gps-583139185695654873 .gp-inline-block{display:inline-block}.gps-583139185695654873 .gp-flex{display:flex}.gps-583139185695654873 .gp-grid{display:grid}.gps-583139185695654873 .gp-contents{display:contents}.gps-583139185695654873 .\!gp-hidden{display:none!important}.gps-583139185695654873 .gp-hidden{display:none}.gps-583139185695654873 .gp-h-full{height:100%}.gps-583139185695654873 .gp-w-full{width:100%}.gps-583139185695654873 .gp-max-w-full{max-width:100%}.gps-583139185695654873 .gp-flex-1{flex:1 1 0%}.gps-583139185695654873 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-583139185695654873 .gp-flex-col{flex-direction:column}.gps-583139185695654873 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583139185695654873 .gp-duration-200{transition-duration:.2s}.gps-583139185695654873 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-583139185695654873 .tablet\:\!gp-hidden{display:none!important}.gps-583139185695654873 .tablet\:gp-hidden{display:none}.gps-583139185695654873 .tablet\:gp-h-full{height:100%}.gps-583139185695654873 .tablet\:gp-flex-1{flex:1 1 0%}}@media (max-width:767px){.gps-583139185695654873 .mobile\:\!gp-hidden{display:none!important}.gps-583139185695654873 .mobile\:gp-hidden{display:none}.gps-583139185695654873 .mobile\:gp-h-auto{height:auto}.gps-583139185695654873 .mobile\:gp-flex-none{flex:none}}.gps-583139185695654873 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gKkdBF6T0E"}' data-id="gKkdBF6T0E" id="gKkdBF6T0E" data-same-height-subgrid-container class="gKkdBF6T0E gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:64px;--pl:320px;--pb:36px;--pr:320px;--mb-mobile:24px;--pt-mobile:24px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--pt-tablet:64px;--pl-tablet:48px;--pb-tablet:36px;--pr-tablet:48px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gtu0jvcVGg gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gfXtnLyUNL"}' data-id="gfXtnLyUNL" id="gfXtnLyUNL" data-same-height-subgrid-container class="gfXtnLyUNL gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px 0px 0px 4px;--bc:#8591E4;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:800px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gfrTK5J5jG gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gRfn79H1YE"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb:32px;--mb-mobile:32px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1757172147780 gp-flex-1 gp-h-full mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-1 tablet:gp-h-full gRfn79H1YE"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_583138851258630769-9217cb6e-c804-4254-82f6-19d9ac2ed872.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTYwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0idXJsKCNnLTYwMC02MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_583138851258630769-9217cb6e-c804-4254-82f6-19d9ac2ed872.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTYwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0idXJsKCNnLTYwMC02MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_583138851258630769-9217cb6e-c804-4254-82f6-19d9ac2ed872.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTYwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjYwMCIgZmlsbD0idXJsKCNnLTYwMC02MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_583138851258630769-9217cb6e-c804-4254-82f6-19d9ac2ed872.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:100%;--h-tablet:100%;--h-mobile:auto;--b:none;--bc:transparent;--bblr:0px;--btrr:0px;--bbrr:0px;--btlr:0px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gaAk0anTDs"
        class="gaAk0anTDs"
        style="--ta:left;--mb:32px;--mb-mobile:32px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172147781"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-subheading-3  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:left;--weight:bold;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggaAk0anTDs_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXcthfnvjg"
        class="gXcthfnvjg"
        style="--ta:left;--mb:32px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172147782"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXcthfnvjg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCtMX-4fuz"
        class="gCtMX-4fuz"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:0px;--mb:16px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172147784"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:28px;--size-tablet:24px;--size-mobile:23px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#121212;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCtMX-4fuz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0XBp6_6mZ"
        class="g0XBp6_6mZ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172147785"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0XBp6_6mZ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-583139185695654873 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ygyz11-bg/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=583139169220428440&sectionId=583139185695654873)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggaAk0anTDs_text","label":"ggaAk0anTDs_text","default":"Un problème invisible, mais vécu par toutes"},{"type":"html","id":"ggXcthfnvjg_text","label":"ggXcthfnvjg_text","default":"<p><strong>Un éternuement. Un éclat de rire. Une marche un peu trop longue</strong>… et soudain, <strong>une fuite</strong>.</p><p><br>Et parfois, c’est la nuit que cela arrive : on se réveille avec les draps humides, obligée de tout changer avant même de prendre son café.</p><p>Vous connaissez ce moment gênant ? Cette <span style=\"background-color:rgba(234,229,168,0.77);\"><strong>peur d’une odeur, d’une trace ou d’un accident en public… ou même chez soi, en pleine nuit </strong></span>?</p><p>&nbsp;</p><p>Vous n’êtes pas seule. <strong>Des millions de femmes vivent la même chose</strong>. Mais personne n’en parle. Résultat :</p><p>&nbsp;</p><p><strong>- On évite les sorties.</strong></p><p><strong>- On redoute les nuits.</strong></p><p><strong>- On perd petit à petit confiance en soi</strong>.</p>"},{"type":"html","id":"ggCtMX-4fuz_text","label":"ggCtMX-4fuz_text","default":"<p><strong>Marre des protections jetables qui coûtent cher et déçoivent ?</strong></p>"},{"type":"html","id":"gg0XBp6_6mZ_text","label":"gg0XBp6_6mZ_text","default":"<p>Les couches et serviettes coûtent cher, manquent de confort et finissent à la poubelle. Les culottes VEINA offrent une alternative <span style=\"background-color:rgba(255,251,73,0.77);\">réutilisable, discrète et ultra-absorbante</span> pour vous redonner confiance au quotidien.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  