
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-583242365473391577.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-583242365473391577.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-583242365473391577.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-583242365473391577.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-583242365473391577.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-583242365473391577.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-583242365473391577.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-583242365473391577.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-583242365473391577.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-583242365473391577.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-583242365473391577.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-583242365473391577.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-583242365473391577.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-583242365473391577.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-583242365473391577.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-583242365473391577.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-583242365473391577.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-583242365473391577.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-583242365473391577.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-583242365473391577.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-583242365473391577.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-583242365473391577.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-583242365473391577.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-583242365473391577.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-583242365473391577.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-583242365473391577.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-583242365473391577.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-583242365473391577.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-583242365473391577.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-583242365473391577.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-583242365473391577.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-583242365473391577.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-583242365473391577.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-583242365473391577.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-583242365473391577.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-583242365473391577.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-583242365473391577.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-583242365473391577.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-583242365473391577.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-583242365473391577.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-583242365473391577.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-583242365473391577.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-583242365473391577.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-583242365473391577.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-583242365473391577.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-583242365473391577.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-583242365473391577.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-583242365473391577.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-583242365473391577.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-583242365473391577.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-583242365473391577.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-583242365473391577.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-583242365473391577.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-583242365473391577.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-583242365473391577.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-583242365473391577.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-583242365473391577.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-583242365473391577.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-583242365473391577.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-583242365473391577.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-583242365473391577.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-583242365473391577.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-583242365473391577.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-583242365473391577.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-583242365473391577.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-583242365473391577.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-583242365473391577.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-583242365473391577.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-583242365473391577.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-583242365473391577.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-583242365473391577.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-583242365473391577.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-583242365473391577.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-583242365473391577.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-583242365473391577.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-583242365473391577.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-583242365473391577.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-583242365473391577.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-583242365473391577.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-583242365473391577.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-583242365473391577.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-583242365473391577.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-583242365473391577.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-583242365473391577.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-583242365473391577.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-583242365473391577.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-583242365473391577.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-583242365473391577.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-583242365473391577.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-583242365473391577 .gp-g-subheading-2{font-family:var(--g-sh2-ff);font-size:var(--g-sh2-size);font-style:var(--g-sh2-fs);font-weight:var(--g-sh2-weight);letter-spacing:var(--g-sh2-ls);line-height:var(--g-sh2-lh)}.gps-583242365473391577 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-583242365473391577 .gp-relative{position:relative}.gps-583242365473391577 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-583242365473391577 .gp-mb-0{margin-bottom:0}.gps-583242365473391577 .gp-inline-block{display:inline-block}.gps-583242365473391577 .gp-flex{display:flex}.gps-583242365473391577 .gp-inline-flex{display:inline-flex}.gps-583242365473391577 .gp-grid{display:grid}.gps-583242365473391577 .gp-contents{display:contents}.gps-583242365473391577 .\!gp-hidden{display:none!important}.gps-583242365473391577 .gp-hidden{display:none}.gps-583242365473391577 .gp-h-auto{height:auto}.gps-583242365473391577 .gp-h-full{height:100%}.gps-583242365473391577 .gp-w-full{width:100%}.gps-583242365473391577 .gp-max-w-full{max-width:100%}.gps-583242365473391577 .gp-flex-none{flex:none}.gps-583242365473391577 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-583242365473391577 .gp-flex-col{flex-direction:column}.gps-583242365473391577 .gp-items-center{align-items:center}.gps-583242365473391577 .gp-justify-center{justify-content:center}.gps-583242365473391577 .gp-overflow-hidden{overflow:hidden}.gps-583242365473391577 .gp-break-words{overflow-wrap:break-word}.gps-583242365473391577 .gp-text-center{text-align:center}.gps-583242365473391577 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-583242365473391577 .gp-no-underline{text-decoration-line:none}.gps-583242365473391577 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583242365473391577 .gp-duration-200{transition-duration:.2s}.gps-583242365473391577 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583242365473391577 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-583242365473391577 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-583242365473391577 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-583242365473391577 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-583242365473391577 .tablet\:\!gp-hidden{display:none!important}.gps-583242365473391577 .tablet\:gp-hidden{display:none}.gps-583242365473391577 .tablet\:gp-h-auto{height:auto}.gps-583242365473391577 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-583242365473391577 .mobile\:\!gp-hidden{display:none!important}.gps-583242365473391577 .mobile\:gp-hidden{display:none}.gps-583242365473391577 .mobile\:gp-h-auto{height:auto}.gps-583242365473391577 .mobile\:gp-flex-none{flex:none}}.gps-583242365473391577 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-583242365473391577 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(800px + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:none;--pl-mobile:none;--pr:var(--g-ct-p, 15px);--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gFcugZCjZi"}' data-id="gFcugZCjZi" id="gFcugZCjZi" data-same-height-subgrid-container class="gFcugZCjZi gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:80px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:72px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--mt-tablet:80px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:48px;--pb-tablet:0px;--pr-tablet:48px;--cg:32px;--gtc:minmax(0, 12fr);--w:800px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkIQ4JJLtL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g_kHKJa7bi"}' data-id="g_kHKJa7bi" id="g_kHKJa7bi" data-same-height-subgrid-container class="g_kHKJa7bi gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px 0px 0px 4px;--bc:#8591E4;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gC6l1zP3_1 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8BJ17SvRW"
        class="g8BJ17SvRW"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:16px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172146046"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:23px;--size-tablet:19px;--size-mobile:20px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8BJ17SvRW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"glXkF-f2Rl"}' data-id="glXkF-f2Rl" id="glXkF-f2Rl" data-same-height-subgrid-container class="glXkF-f2Rl gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--mr:auto;--pr:0px;--mb-mobile:28px;--mr-mobile:auto;--pr-mobile:0px;--cg:30px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gjJyvgbCQ5 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g-BBuJeC3e"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1757172146050 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g-BBuJeC3e"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_583138851258630769-6d754e36-4ef7-4b07-89af-da95ce967a8d.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODAwLTgwMyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODAwIiBoZWlnaHQ9IjgwMyIgZmlsbD0idXJsKCNnLTgwMC04MDMpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04MDAiIHRvPSI4MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_583138851258630769-1be42d03-5294-4b91-9a3d-93a7030eb7e8.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE0MyIgaGVpZ2h0PSIxMTM3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMTQzLTExMzciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjExNDMiIGhlaWdodD0iMTEzNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE0MyIgaGVpZ2h0PSIxMTM3IiBmaWxsPSJ1cmwoI2ctMTE0My0xMTM3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTE0MyIgdG89IjExNDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_583138851258630769-1be42d03-5294-4b91-9a3d-93a7030eb7e8.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE0MyIgaGVpZ2h0PSIxMTM3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMTQzLTExMzciPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjExNDMiIGhlaWdodD0iMTEzNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE0MyIgaGVpZ2h0PSIxMTM3IiBmaWxsPSJ1cmwoI2ctMTE0My0xMTM3KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTE0MyIgdG89IjExNDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_583138851258630769-1be42d03-5294-4b91-9a3d-93a7030eb7e8.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:600/600;--aspect-tablet:600/600;--aspect-mobile:1/1;--objf:cover;--w:358px;--w-tablet:358px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gfIL-vlRWG gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gO9IgICru0"
        class="gO9IgICru0"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pr:0px;--mb-mobile:0px;--pr-mobile:0px;--mb-tablet:32px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172146052"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-subheading-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggO9IgICru0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g06qj7TmWQ"}' data-id="g06qj7TmWQ" id="g06qj7TmWQ" data-same-height-subgrid-container class="g06qj7TmWQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--mr:auto;--pr:0px;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:30px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ggUmwKYAST gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g_KuX7dp3G"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1757172146063 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g_KuX7dp3G"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_583138851258630769-7dc1bc31-8477-4df2-890c-d1f522f79fc6.gif" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI5NiIgaGVpZ2h0PSI3MjkiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyOTYtNzI5Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjk2IiBoZWlnaHQ9IjcyOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI5NiIgaGVpZ2h0PSI3MjkiIGZpbGw9InVybCgjZy0xMjk2LTcyOSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyOTYiIHRvPSIxMjk2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_583138851258630769-bab9aaf2-29b6-4340-8818-7b8bb0ad8f20.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE0MyIgaGVpZ2h0PSIxMTQzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMTQzLTExNDMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjExNDMiIGhlaWdodD0iMTE0MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE0MyIgaGVpZ2h0PSIxMTQzIiBmaWxsPSJ1cmwoI2ctMTE0My0xMTQzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTE0MyIgdG89IjExNDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_583138851258630769-bab9aaf2-29b6-4340-8818-7b8bb0ad8f20.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE0MyIgaGVpZ2h0PSIxMTQzIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMTQzLTExNDMiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjExNDMiIGhlaWdodD0iMTE0MyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTE0MyIgaGVpZ2h0PSIxMTQzIiBmaWxsPSJ1cmwoI2ctMTE0My0xMTQzKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTE0MyIgdG89IjExNDMiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_583138851258630769-bab9aaf2-29b6-4340-8818-7b8bb0ad8f20.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:600/600;--aspect-tablet:600/600;--aspect-mobile:1/1;--objf:cover;--w:358px;--w-tablet:358px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gLusyGcXYm gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"https://veinaa.com/pages/page-daccueil","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--ta-mobile:center" >
        <style>[data-id="gAfmkZ8Ekv"].gp-button-base::before, [data-id="gAfmkZ8Ekv-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gAfmkZ8Ekv"]:hover::before, [data-id="gAfmkZ8Ekv-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gAfmkZ8Ekv" dataId="gAfmkZ8Ekv" data-state="idle" aria-label="<p>Vérifier disponibilité&nbsp;</p>"
          
          href="https://veinaa.com/pages/page-daccueil" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:110px;--pr-mobile:110px;--pt-mobile:12px;--pb-mobile:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--bg:#29B207;--hvr-bg:var(--g-c-highlight, highlight);--c:var(--g-c-text-3, text-3)"
          class="gAfmkZ8Ekv gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggAfmkZ8Ekv_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-583242365473391577 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ygyz11-bg/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=583139169220428440&sectionId=583242365473391577)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg8BJ17SvRW_text","label":"gg8BJ17SvRW_text","default":"<p>Le secret de VEINAA : élégance et efficacité réunies</p>"},{"type":"html","id":"ggO9IgICru0_text","label":"ggO9IgICru0_text","default":"<p>Nos clientes appellent VEINAA leur <strong>vrai trésor</strong>. Et voici pourquoi :</p><p>&nbsp;</p><p>✅ <strong>4 couches protectrices</strong> pour une sécurité maximale</p><p>✅ <strong>Absorption jusqu’à 80 ml</strong>, sans fuite ni odeur</p><p>✅ <strong>Zéro couture irritante</strong>, confort garanti</p><p>✅ <strong>Tissu respirant, doux et léger</strong></p><p>✅ <strong>Réutilisable &amp; durable</strong>, sans produits chimiques</p><p>&nbsp;</p><p>✨ Résultat : une culotte élégante et féminine, qui protège efficacement. Avec VEINAA, vous riez, sortez et dormez l’esprit libre.</p>"},{"type":"html","id":"ggAfmkZ8Ekv_label","label":"ggAfmkZ8Ekv_label","default":"<p>Vérifier disponibilité&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  