
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-583139185930535768.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-583139185930535768.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-583139185930535768.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-583139185930535768.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-583139185930535768.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-583139185930535768.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-583139185930535768.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-583139185930535768.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-583139185930535768.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-583139185930535768.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-583139185930535768.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-583139185930535768.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-583139185930535768.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-583139185930535768.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-583139185930535768.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-583139185930535768.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-583139185930535768.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-583139185930535768.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-583139185930535768.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-583139185930535768.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-583139185930535768.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-583139185930535768.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-583139185930535768.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-583139185930535768.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-583139185930535768.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-583139185930535768.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-583139185930535768.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-583139185930535768.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-583139185930535768.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-583139185930535768.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-583139185930535768.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-583139185930535768.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-583139185930535768.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-583139185930535768.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-583139185930535768.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-583139185930535768.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-583139185930535768.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-583139185930535768.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-583139185930535768.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-583139185930535768.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-583139185930535768.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-583139185930535768.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-583139185930535768.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-583139185930535768.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-583139185930535768.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-583139185930535768.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-583139185930535768.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-583139185930535768.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-583139185930535768.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-583139185930535768.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-583139185930535768.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-583139185930535768.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-583139185930535768.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-583139185930535768.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-583139185930535768.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-583139185930535768.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-583139185930535768.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-583139185930535768.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-583139185930535768.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-583139185930535768.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-583139185930535768.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-583139185930535768.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-583139185930535768.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-583139185930535768.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-583139185930535768.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-583139185930535768.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-583139185930535768.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-583139185930535768.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-583139185930535768.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-583139185930535768.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-583139185930535768.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-583139185930535768.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-583139185930535768.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-583139185930535768.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-583139185930535768.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-583139185930535768.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-583139185930535768.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-583139185930535768.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-583139185930535768.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-583139185930535768.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-583139185930535768.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-583139185930535768.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-583139185930535768.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-583139185930535768.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-583139185930535768.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-583139185930535768.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-583139185930535768.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-583139185930535768.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-583139185930535768.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-583139185930535768.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-583139185930535768.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-583139185930535768.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-583139185930535768.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-583139185930535768.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-583139185930535768.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-583139185930535768.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-583139185930535768.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-583139185930535768.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-583139185930535768.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-583139185930535768.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-583139185930535768.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-583139185930535768.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-583139185930535768.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-583139185930535768.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-583139185930535768.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-583139185930535768.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-583139185930535768 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-583139185930535768 .gp-pointer-events-none{pointer-events:none}.gps-583139185930535768 .gp-absolute{position:absolute}.gps-583139185930535768 .gp-relative{position:relative}.gps-583139185930535768 .gp-inset-0{inset:0}.gps-583139185930535768 .gp-z-1{z-index:1}.gps-583139185930535768 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-583139185930535768 .gp-mb-0{margin-bottom:0}.gps-583139185930535768 .gp-inline-block{display:inline-block}.gps-583139185930535768 .gp-flex{display:flex}.gps-583139185930535768 .gp-inline-flex{display:inline-flex}.gps-583139185930535768 .gp-grid{display:grid}.gps-583139185930535768 .gp-contents{display:contents}.gps-583139185930535768 .\!gp-hidden{display:none!important}.gps-583139185930535768 .gp-hidden{display:none}.gps-583139185930535768 .gp-h-auto{height:auto}.gps-583139185930535768 .gp-h-full{height:100%}.gps-583139185930535768 .gp-w-full{width:100%}.gps-583139185930535768 .gp-w-max{width:-moz-max-content;width:max-content}.gps-583139185930535768 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-583139185930535768 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-583139185930535768 .gp-max-w-full{max-width:100%}.gps-583139185930535768 .gp-flex-1{flex:1 1 0%}.gps-583139185930535768 .gp-flex-none{flex:none}.gps-583139185930535768 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-583139185930535768 .gp-flex-col{flex-direction:column}.gps-583139185930535768 .gp-flex-wrap{flex-wrap:wrap}.gps-583139185930535768 .gp-items-center{align-items:center}.gps-583139185930535768 .gp-justify-center{justify-content:center}.gps-583139185930535768 .gp-overflow-hidden{overflow:hidden}.gps-583139185930535768 .gp-break-words{overflow-wrap:break-word}.gps-583139185930535768 .gp-text-center{text-align:center}.gps-583139185930535768 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-583139185930535768 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-583139185930535768 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-583139185930535768 .gp-no-underline{text-decoration-line:none}.gps-583139185930535768 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583139185930535768 .gp-duration-200{transition-duration:.2s}.gps-583139185930535768 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-583139185930535768 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-583139185930535768 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-583139185930535768 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-583139185930535768 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-583139185930535768 .tablet\:\!gp-hidden{display:none!important}.gps-583139185930535768 .tablet\:gp-hidden{display:none}.gps-583139185930535768 .tablet\:gp-h-auto{height:auto}.gps-583139185930535768 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-583139185930535768 .mobile\:\!gp-hidden{display:none!important}.gps-583139185930535768 .mobile\:gp-hidden{display:none}.gps-583139185930535768 .mobile\:gp-h-auto{height:auto}.gps-583139185930535768 .mobile\:gp-flex-none{flex:none}}.gps-583139185930535768 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-583139185930535768 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gziP-h9fA7"}' data-id="gziP-h9fA7" id="gziP-h9fA7" data-same-height-subgrid-container class="gziP-h9fA7 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:auto;--pt:80px;--pl:222px;--pb:80px;--pr:222px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:72px;--pl-mobile:20px;--pb-mobile:72px;--pr-mobile:20px;--mr-tablet:auto;--pt-tablet:80px;--pl-tablet:48px;--pb-tablet:80px;--pr-tablet:48px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#00000000;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gm4OwFeebO gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ghoI7N1_U6"}' data-id="ghoI7N1_U6" id="ghoI7N1_U6" data-same-height-subgrid-container class="ghoI7N1_U6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#8591E4;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--ml:auto;--pt:32px;--pl:32px;--pb:32px;--pr:32px;--pt-mobile:16px;--pl-mobile:16px;--pb-mobile:16px;--pr-mobile:16px;--mt-tablet:0px;--ml-tablet:auto;--pt-tablet:24px;--pl-tablet:24px;--pb-tablet:24px;--pr-tablet:24px;--cg:32px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:800px;--w-tablet:800px;--w-mobile:var(--g-ct-w, 100%);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gogrjeKFXQ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gIbyajQDgC"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--mb-mobile:28px;--ta:center"
      class="gp-group/image gp-relative force-publish-1757172151961 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gIbyajQDgC"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_583138851258630769-d025a9cc-7445-4f8f-b39a-0a495c078c44.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTAwIiBoZWlnaHQ9IjkwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTAwLTkwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjkwMCIgZmlsbD0idXJsKCNnLTkwMC05MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05MDAiIHRvPSI5MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_583138851258630769-d025a9cc-7445-4f8f-b39a-0a495c078c44.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTAwIiBoZWlnaHQ9IjkwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTAwLTkwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjkwMCIgZmlsbD0idXJsKCNnLTkwMC05MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05MDAiIHRvPSI5MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_583138851258630769-d025a9cc-7445-4f8f-b39a-0a495c078c44.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTAwIiBoZWlnaHQ9IjkwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctOTAwLTkwMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjkwMCIgZmlsbD0idXJsKCNnLTkwMC05MDApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii05MDAiIHRvPSI5MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_583138851258630769-d025a9cc-7445-4f8f-b39a-0a495c078c44.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:375px;--w-tablet:375px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g2IenxIBN0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gksPjaXOBe"
        class="gksPjaXOBe"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172151962"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggksPjaXOBe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-tablet:12px;--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px" class="gD2wV3jXAt ">
      
    {%- liquid
      assign standardEndDate = 1747724302972
      assign typeCountdown = "daily"
      assign autoHideWhenTimeout = false
      assign current_time = 'now' | date: '%s' | times: 1000

    -%}
   {% if standardEndDate == nil or current_time <= standardEndDate or typeCountdown != "standard" or autoHideWhenTimeout != true %}
      <gp-countdown-timer
        data-id="gD2wV3jXAt"
        gp-href="#"
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"daily","dateStandard":1747709902972,"dayLabel":"Jours","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Heures","loopAfterFinish":true,"minuteLabel":"MIN","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"SEC","timeZone":"UTC-4","timerDaily":{"format":"am","hours":2,"mins":30},"timerEverygreen":{"days":0,"endTime":1747115902972,"hours":3,"mins":0,"startTime":1747105102972},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gD2wV3jXAt","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"1px 1px 1px 1px"}}},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"edited":["tablet","mobile"],"desktop":{"margin":{"bottom":"8px"}},"tablet":{"link":false,"margin":{"bottom":"12px"}},"mobile":{"link":false,"margin":{"bottom":"12px"},"padding":{"top":"0px","left":"0px","bottom":"0px","right":"0px"}}}},"label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":1747709902972,"dayLabel":"Jours","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Heures","loopAfterFinish":true,"minuteLabel":"MIN","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"SEC","timeZone":"UTC-4","timerDaily":{"format":"am","hours":2,"mins":30},"timerEverygreen":{"days":0,"endTime":1747115902972,"hours":3,"mins":0,"startTime":1747105102972},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#FFFFFF","borderState":{"normal":{"border":"solid","borderType":"none","borderWidth":"1px","color":"#EEEEEE","isCustom":true,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"8px","itemPadding":{"desktop":{"bottom":"4px","left":"10px","right":"10px","top":"4px"},"mobile":{"bottom":"4px","left":"8px","right":"8px","top":"4px"}},"labelTypo":{"attrs":{"color":"#999999"},"custom":{"fontSize":{"desktop":"13px","mobile":"12px","tablet":"13px"},"fontStyle":"normal","fontWeight":"600","hasShadowText":false,"letterSpacing":"normal","lineHeight":{"desktop":"100%","mobile":"130%","tablet":"150%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-2"},"numTypo":{"attrs":{"bold":true,"color":"#242424"},"custom":{"fontSize":{"desktop":"16px","mobile":"14px","tablet":"18px"},"fontStyle":"normal","fontWeight":"600","hasShadowText":false,"letterSpacing":"normal","lineHeight":{"desktop":"130%","mobile":"150%","tablet":"150%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"subheading-2"},"roundedState":{"normal":{"bblr":"3px","bbrr":"3px","btlr":"3px","btrr":"3px","radiusType":"custom"}},"textAlign":{"desktop":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"gD2wV3jXAt","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:8px;--jc:center">
          <a
              href="#"
              target="_self"
              aria-label="Countdown link"
              class="gp-absolute gp-inset-0 gp-z-1 gp-pointer-events-none"
            > </a>
          
          
    <div style="--pl:10px;--pr:10px;--pt:4px;--pb:4px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:4px;--pb-mobile:4px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gD2wV3jXAt-text" id="day"
        class="gD2wV3jXAt"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172151964"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:16px;--size-tablet:18px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gD2wV3jXAt-text"
        class="gD2wV3jXAt"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172151965"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:100%;--lh-tablet:150%;--lh-mobile:130%;--c:#999999;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggD2wV3jXAt_dayLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:10px;--pr:10px;--pt:4px;--pb:4px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:4px;--pb-mobile:4px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gD2wV3jXAt-text" id="hour"
        class="gD2wV3jXAt"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172151965"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:16px;--size-tablet:18px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gD2wV3jXAt-text"
        class="gD2wV3jXAt"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172151965"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:100%;--lh-tablet:150%;--lh-mobile:130%;--c:#999999;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggD2wV3jXAt_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:10px;--pr:10px;--pt:4px;--pb:4px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:4px;--pb-mobile:4px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gD2wV3jXAt-text" id="minute"
        class="gD2wV3jXAt"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172151966"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:16px;--size-tablet:18px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gD2wV3jXAt-text"
        class="gD2wV3jXAt"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172151966"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:100%;--lh-tablet:150%;--lh-mobile:130%;--c:#999999;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggD2wV3jXAt_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:10px;--pr:10px;--pt:4px;--pb:4px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:4px;--pb-mobile:4px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#EEEEEE;--bblr:3px;--bbrr:3px;--btlr:3px;--btrr:3px;--hvr-bblr:3px;--hvr-bbrr:3px;--hvr-btlr:3px;--hvr-btrr:3px;--focus-bblr:3px;--focus-bbrr:3px;--focus-btlr:3px;--focus-btrr:3px;-undefined-bblr:3px;-undefined-bbrr:3px;-undefined-btlr:3px;-undefined-btrr:3px;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gD2wV3jXAt-text" id="second"
        class="gD2wV3jXAt"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172151966"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-heading, heading);--ls:normal;--size:16px;--size-tablet:18px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--weight:bold;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gD2wV3jXAt-text"
        class="gD2wV3jXAt"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172151967"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:100%;--lh-tablet:150%;--lh-mobile:130%;--c:#999999;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggD2wV3jXAt_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    <gp-button
      gp-data='{"btnLink":{"link":"https://veinaa.com/pages/page-daccueil","selectedTab":"products","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--ml-mobile:0px;--mb-mobile:16px;--pl-mobile:0px;--ta:center" >
        <style>[data-id="gAyA2NXsfk"].gp-button-base::before, [data-id="gAyA2NXsfk-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      
  
    }
  
      
  [data-id="gAyA2NXsfk"]:hover::before, [data-id="gAyA2NXsfk-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gAyA2NXsfk" dataId="gAyA2NXsfk" data-state="idle" aria-label="<p>Acheter Maintenant</p>"
          
          href="https://veinaa.com/pages/page-daccueil" target="_self"
          style="--w:100%;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:40px;--pr:40px;--pt:16px;--pb:16px;--pl-tablet:64px;--pr-tablet:64px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:16px;--pb-mobile:16px;--bblr:100px;--bbrr:100px;--btlr:100px;--btrr:100px;--hvr-bblr:100px;--hvr-bbrr:100px;--hvr-btlr:100px;--hvr-btrr:100px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#261591;--bg:#29B207;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%"
          class="gAyA2NXsfk gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggAyA2NXsfk_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#E7FBFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gtqgjCPMIh"}' data-id="gtqgjCPMIh" id="gtqgjCPMIh" data-same-height-subgrid-container class="gtqgjCPMIh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#EBEEFF;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:12px;--pt:12px;--pl:24px;--pb:12px;--pr:24px;--mb-mobile:12px;--pt-mobile:12px;--pl-mobile:12px;--pb-mobile:12px;--pr-mobile:12px;--cg:6px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--h:auto;--bgc:#E7FBFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gmRUUFD0nK gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gL7Vm9on5S"
        class="gL7Vm9on5S"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172151980"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggL7Vm9on5S_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="guZaWwOXlz gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gaN_Q5d7kT"
        class="gaN_Q5d7kT"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172151982"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggaN_Q5d7kT_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gwU8eigUn1 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKfXSWj_KY"
        class="gKfXSWj_KY"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172151983"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:14px;--size-mobile:14px;--c:#29B207;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKfXSWj_KY_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGZyfr7HEE"
        class="gGZyfr7HEE"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1757172151984"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:13px;--size-tablet:14px;--size-mobile:12px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGZyfr7HEE_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-583139185930535768 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ygyz11-bg/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=583139169220428440&sectionId=583139185930535768)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggksPjaXOBe_text","label":"ggksPjaXOBe_text","default":"<p>️<strong>🎊 Dépêchez-vous&nbsp;! La vente se termine bientôt. ️🎊</strong></p>"},{"type":"html","id":"ggD2wV3jXAt_dayLabel","label":"ggD2wV3jXAt_dayLabel","default":"Jours"},{"type":"html","id":"ggD2wV3jXAt_hourLabel","label":"ggD2wV3jXAt_hourLabel","default":"Heures"},{"type":"html","id":"ggD2wV3jXAt_minuteLabel","label":"ggD2wV3jXAt_minuteLabel","default":"MIN"},{"type":"html","id":"ggD2wV3jXAt_secondLabel","label":"ggD2wV3jXAt_secondLabel","default":"SEC"},{"type":"html","id":"ggD2wV3jXAt_weekLabel","label":"ggD2wV3jXAt_weekLabel","default":"Weeks"},{"type":"html","id":"ggAyA2NXsfk_label","label":"ggAyA2NXsfk_label","default":"<p>Acheter Maintenant</p>"},{"type":"html","id":"ggL7Vm9on5S_text","label":"ggL7Vm9on5S_text","default":"<p><span style=\"color:#DB3D31;\"><strong>Haut </strong></span>Risque d'écoulement de stock</p>"},{"type":"html","id":"ggaN_Q5d7kT_text","label":"ggaN_Q5d7kT_text","default":"<p><span style=\"color:#EBEEFF;\">|</span></p>"},{"type":"html","id":"ggKfXSWj_KY_text","label":"ggKfXSWj_KY_text","default":"<p>Livraison <strong>Gratuite</strong></p>"},{"type":"html","id":"ggGZyfr7HEE_text","label":"ggGZyfr7HEE_text","default":"<p><span style=\"font-size:14px;\"><strong>Essayez-le aujourd'hui avec une garantie de remboursement de 30 jours&nbsp;!</strong></span></p><p>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  